#contact-section{
    color :rgb(143, 153, 153);
    width : 70%;
    height: 100vh;
    margin-left :10%;
    
}
.contact{
    margin-top:40px;
    margin-bottom: 30px;
  
    font-size : 25px;
   
}

