.aboutMe{
    color :rgb(143, 153, 153);
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    font-size : 50px;
  
}


.paragraphs p{

    color :rgb(143, 153, 153);
    font-size: 18px;
}

