.resume {
    font-size : 18px;
    color :rgb(143, 153, 153);
    
}
.summary{
    text-align :center;
    margin-top: 20px;
    margin-bottom :20px;
    font-size:50px;
    color :rgb(143, 153, 153);
   
}


h3{
    color :rgb(200, 204, 204) 
}

.span{
    color :rgb(95, 141, 141)
}
