.cardContainer {

 
    border: 5px solid rgb(95, 90, 90);
    border-radius: 8px;
    border-width: 13px;
    height : 530px;
    font-size : 16px;
    background-color:#191c1d;
   
   
    border-style: ridge; 
}

.cards {
    color :rgb(143, 153, 153);
}

.card-title{
    font-size:24px;
    color :rgb(143, 153, 153);
}


